* {
  padding: 0;
  margin: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ced4da;
  padding: 1em;
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1em;
  font-size: 1.3em;
}

.post-cont {
  background-color: #e9ecef;
  margin: 1em 2em;
  padding: 1em;
}
